<%-include("partials/header.ejs")-%>

<h1>Market Place </h1>
<h3> <u> products section still in dev </u></h3>
<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p><%=cpEmail%></p>
      </li>

      <li class="list-group-item"> 
<p><%=cpnumber%></p>
      </li>

      <li class="list-group-item">
        <p><%=cpName%></p>        
        </li>
        <li class="list-group-item">
            <p><%=cpfname%></p>
        </li>
    </ul>
  </div>

<style>
    .card{
        position: absolute;
        position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
    }
</style>

<%-include("partials/footer.ejs")-%>
